<!--
 * @Autor: fengming
 * @Date: 2020-03-23 09:12:07
 * @LastEditors: yaojie
 * @LastEditTime: 2020-03-25 16:17:11
 * @Description: 
 -->
<template>
    <div>
        <div class="ruguo">
            <h1 class="if" @click="cl_if">如果:</h1>
            <div class="box_fir">
                <div v-show="if_bl" @contextmenu.prevent="rightClick">
                    <el-select v-model="value" placeholder="请选择">
                        <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                        ></el-option>
                    </el-select>
                    <span v-show="!!value" @click="cl_de">的</span>
                    <el-select v-show="if_de_in" v-model="value2" placeholder="请选择" @change="tap">
                        <el-option
                            v-for="item in options2"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                        ></el-option>
                    </el-select>
                    <el-select v-show="!!value2" v-model="value3" placeholder="请选择符号">
                        <el-option
                            v-for="item in options3"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                        ></el-option>
                    </el-select>
                    <el-input v-show="!!value3" v-model="inputValue1" placeholder="请输入内容"></el-input>
                    <i class="el-icon-circle-close" @click="cl_close"></i>
                </div>
            </div>
        </div>
        <div class="bingqie" v-show="bq_bl">
            <h1 class="if" @click="cl_if">并且:</h1>
            <div class="box_fir">
                <div v-show="if_bl" @contextmenu.prevent="rightClick">
                    <el-select v-model="value4" placeholder="请选择">
                        <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                        ></el-option>
                    </el-select>
                    <span v-show="!!value4" @click="cl_de2">的</span>
                    <el-select v-show="if_de_in2" v-model="value5" placeholder="请选择" >
                        <el-option
                            v-for="item in options2"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                        ></el-option>
                    </el-select>
                    <el-select v-show="!!value5" v-model="value6" placeholder="请选择符号">
                        <el-option
                            v-for="item in options3"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                        ></el-option>
                    </el-select>
                    <el-input v-show="!!value6" v-model="inputValue2" placeholder="请输入内容"></el-input>
                    <i class="el-icon-circle-close" @click="cl_close2"></i>
                </div>
            </div>
        </div>
        <i class="el-icon-plus" v-show="if_bl" @click="add"></i>
    </div>
</template>
<script>
    // 括号添加问题
    // // let data = item.data;
    // console.log(item.data)
    // let obj =  { type: 'text', content: '(', key: 'kuohao', value: '(' };
    // data.map((itm,index) => {
    //     if (itm.id === keyid) {
    //         data.splice(index, 0, obj);
    //     }
    // });
    // let data = item;
    // console.log(item.id)
</script>